h3 {
    margin: 0;
}
div {
    background-color: yellow;
    width: 20px;
    height: 20px;
}

.grid {
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.previous-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.previous-shape {
    width: 80px;
    height: 80px;
    /*margin-bottom: 20px;*/
}

.block {
    background-color: blue;
}

.block2 {
    background-color: purple;
}

.block3 {
    background-color: green;
}

